{% extends "_layouts/base.njk" %}

{# {% set title='Home' %} #}

{% block content %}
<div class="h-screen flex flex-col items-center justify-center bg-blue-50 bg-opacity-25">
    <h1 class="text-5xl text-blue-600 font-bold mb-6">Template Starter.</h1>
    <div>
        <a href="pages/sample.html" class="text-blue-600 hover:underline">Sample Page</a>
    </div>
</div>
{% endblock %}